<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>英雄介绍</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>个人网页</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="../gstory/css/bootstrap.min.css">
		<script src="../gstory/js/jquery-3.3.1.min.js"></script>
		<script src="../gstory/js/bootstrap.min.js"></script>
		<script src="../gstory/js/myjs.js"></script>
		<link rel="stylesheet" href="../gstory/css/mystyle.css">
	</head>
	<body>
		<div class="container-fluid" id="mynav">
			<ul class="nav nav-pills">
				<li class="nav-item">
					<a id="apex-con" class="nav-link active" href="./apexstory">APEX英雄</a>
				</li>
				
			</ul>
		</div>
		
		<!-- 模态框（Modal） -->
		
		<div class="container-fluid hero-bg">
			<img src="../gstory/img/apex-logo.svg" id="apex-logo">
			<h1>英雄介绍</h1>
			<div class="container">
				<h2>想成為英雄，你需要勇氣、天賦與運氣。選擇你最喜歡的英雄並查看他們獨特的技組合能為你的小隊提供什麼樣的協助。</h2>
			</div>
		</div>
		<div class="container-fluid" id="under-hero-bg" style="background:url(../../gstory/img/bg2.jpg)">
			<div class="row">
				<div class="col-lg-3">
					<a href="./apexhero/character?id=1" id="1">
						<img src="../gstory/img/hero/h1.png">
						<h2>寻血猎犬</h2>
						<h3>科技追踪者</h3>
						<span class="glyphicon glyphicon-circle-arrow-right"></span>
					</a>
				</div>
				<div class="col-lg-3">
					<a href="./apexhero/character?id=2" id="2">
						<img src="../gstory/img/hero/h2.png">
						<h2>幻象</h2>
						<h3>幻影魔术师</h3>
						<span class="glyphicon glyphicon-circle-arrow-right"></span>
					</a>
				</div>
				<div class="col-lg-3">
					<a href="./apexhero/character?id=3"id="3">
						<img src="../gstory/img/hero/h3.png">
						<h2>恶灵</h2>
						<h3>跨维度散兵</h3>
						<span class="glyphicon glyphicon-circle-arrow-right"></span>
					</a>
				</div>
				<div class="col-lg-3">
					<a href="./apexhero/character?id=4"id="4">
						<img src="../gstory/img/hero/h4.png">
						<h2>探路者</h2>
						<h3>先锋斥候</h3>
						<span class="glyphicon glyphicon-circle-arrow-right"></span>
					</a>
				</div>
			</div>
			
			<div class="row" >
				<div class="col-lg-3">
					<a href="./apexhero/character?id=5"id="5">
						<img src="../gstory/img/hero/h5.png">
						<h2>生命线</h2>
						<h3>战斗医疗兵</h3>
						<span class="glyphicon glyphicon-circle-arrow-right"></span>
					</a>
				</div>
				<div class="col-lg-3">
					<a href="./apexhero/character?id=6"id="6">
						<img src="../gstory/img/hero/h6.png">
						<h2>直布罗陀</h2>
						<h3>防御堡垒</h3>
						<span class="glyphicon glyphicon-circle-arrow-right"></span>
					</a>
				</div>
				<div class="col-lg-3">
					<a href="./apexhero/character?id=7"id="7">
						<img src="../gstory/img/hero/h7.png">
						<h2>腐蚀</h2>
						<h3>剧毒陷阱手</h3>
						<span class="glyphicon glyphicon-circle-arrow-right"></span>
					</a>
				</div>
				<div class="col-lg-3">
					<a href="./apexhero/character?id=8"id="8">
						<img src="../gstory/img/hero/h8.png">
						<h2>动力小子</h2>
						<h3>冒险瘾君子</h3>
						<span class="glyphicon glyphicon-circle-arrow-right"></span>
					</a>
				</div>
			</div>
			
			<div class="row">
				<div class="col-lg-3">
					<a href="./apexhero/character?id=9"id="9">
						<img src="../gstory/img/hero/h9.png">
						<h2>邦加羅爾</h2>
						<h3>職業士兵</h3>
						<span class="glyphicon glyphicon-circle-arrow-right"></span>
					</a>
				</div>
				<div class="col-lg-3">
					<a href="./apexhero/character?id=10"id="10">
						<img src="../gstory/img/hero/h10.png">
						<h2>華森</h2>
						<h3>靜止護衛</h3>
						<span class="glyphicon glyphicon-circle-arrow-right"></span>
					</a>
				</div>
				<div class="col-lg-3">
					<a href="./apexhero/character?id=11"id="11">
						<img src="../gstory/img/hero/h11.png">
						<h2>暗碼士</h2>
						<h3>冒险瘾君子</h3>
						<span class="glyphicon glyphicon-circle-arrow-right"></span>
					</a>
				</div>
			</div>
		</div>
		
		<div class="container-fluid hero-bg" style="margin-top:0;">
			<h1 style="padding-top:10px;padding-top:50px;">在</h1>
			<h2 style="font-size:30px;margin-top:50px;">PlayStation 4、Xbox One 與 PC Origin 上免費*遊玩。</h2>
			<a class="btn btn-light btn-lg" type="button" href="./apexstory" id="bt-start-play">立即免费游玩</a>
			<h3>*可能需要適用平台帳號與平台會員（分開發售）。需要不中斷的網際網路連線與 EA 帳號。年齡限制適用。包含遊戲內購買。</h3>
		</div>
	</body>
</html>
