<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="js/jquery.min.js"></script>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<script src="js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/gamestyle.css">
		<script src="js/gamejs.js"></script>
		
	</head>
	<body>
		<div id="nav"></div>
		<div class="container" name="flex-box">
			<div class="row">
				<div class="col-lg-3">
					<div name="game-card">
						<img src="gameimg/1.jpg"/>
						<div class="line-top"></div>
						<div name="hide_div">
							<button>进入社区</button>
						</div>
						<div class="line-bottom"></div>
					</div>
					<span>命运2</span>
				</div>
				<div class="col-lg-3">
					<div name="game-card">
						<img src="gameimg/2.jpg"/>
						<div class="line-top"></div>
						<div name="hide_div">
							<button>进入社区</button>
						</div>
						<div class="line-bottom"></div>
					</div>
					<span>守望先锋</span>
				</div>
				<div class="col-lg-3">
					<div name="game-card">
						
					</div>
					<span>ow</span>
				</div>
				<div class="col-lg-3">
					<div name="game-card">
						
					</div>
					<span>ow</span>
				</div>
			</div>
			
		</div>
	</body>
	<script>
		$("div#nav").load("html/nav.html");
	</script>
</html>
