<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Rubik:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="hxz/css/styles-merged.css">
    <link rel="stylesheet" href="hxz/css/style.min.css">
    <link href="https://cdn.bootcss.com/font-awesome/5.10.0-11/css/all.min.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="hxz/js/html5shiv.min.js"></script>
      <script src="hxz/js/respond.min.js"></script>
      <![endif]-->
  </head>
  <body>

  <!-- START: header -->
  
  <div class="probootstrap-loader"></div>

  <header role="banner" class="probootstrap-header">
    <div class="container">
        <a href="index.html" class="probootstrap-logo">Pixels<span>.</span></a>
        
        <a href="#" class="probootstrap-burger-menu visible-xs" ><i>Menu</i></a>
        <div class="mobile-menu-overlay"></div>

        <nav role="navigation" class="probootstrap-nav hidden-xs">
          <ul class="probootstrap-main-nav">
            <li class="active"><a href="index.html">游戏列表</a></li>
            <li><a href="community">社区</a></li>
            <li><a href="post">我要发站</a></li>
            <li><a href="identity">个人中心</a></li>
            <li><a href="dataStatis.html">数据统计</a></li>
          </ul>
          <div class="extra-text visible-xs">
            <a href="#" class="probootstrap-burger-menu"><i>Menu</i></a>
            <h5>Connect</h5>
            <ul class="social-buttons">
              <li><a href="#"><i class="icon-twitter"></i></a></li>
              <li><a href="#"><i class="icon-facebook2"></i></a></li>
              <li><a href="#"><i class="icon-instagram2"></i></a></li>
            </ul>
          </div>
        </nav>
    </div>
  </header>
  <!-- END: header -->
  <div class="probootstrap-main-content">
    <section class="probootstrap-slider flexslider">
      <ul class="slides">
         <!-- class="overlay" -->
        <li style="background-image: url(hxz/img/slider_1.jpg);">
          <div class="container">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <div class="probootstrap-slider-text text-center">
                  <h1 class="probootstrap-heading probootstrap-animate mb20">我们是最有趣的贴吧</h1>
                  <div class="probootstrap-animate probootstrap-sub-wrap mb30">在这里你可以碰撞有趣的灵魂</div>
                  <p class="probootstrap-animate"><a href="cblogin" class="btn btn-ghost btn-ghost-white">登录/注册</a></p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <!-- class="overlay" -->
        <li style="background-image: url(hxz/img/slider_5.jpg);">
          <div class="container">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <div class="probootstrap-slider-text text-center">
                  <h1 class="probootstrap-heading probootstrap-animate mb20">WE ARE THE MOST INTERESTING</h1>
                  <div class="probootstrap-animate probootstrap-sub-wrap mb30">YOU CAN MEET NEW FRIENDS</div>
                  <p class="probootstrap-animate"><a href="#" class="btn btn-ghost btn-ghost-white">登录/注册</a></p>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </section>
    <section class="probootstrap-section probootstrap-bg-white">
      <div class="container-fluid">
        <div class="section-heading text-center">
          <h2 class="mt0 mb0">快来了解一下我们吧</h2>
        </div>
      </div>
    </section>
    <section class="probootstrap-half">
      <div class="image-wrap">
        <div class="image" style="background-image: url(../public/hxz/img/slider_7.jpg);"></div>
      </div>
      <div class="text">
        <h3 class="mt0 mb40">我们有什么</h3>
        <p>最有趣的内容<br>最自由的发言<br>在这里你可以结交新的朋友</p>
        <p class="mb50">The most interesting content<br>Free speech<br>sYou can make new friends here.</p>
        <p><a href="#" class="btn btn-primary mb10">进入社区</a></p>
      </div>
<!--    </section>-->
<!--    <section class="probootstrap-half reverse">-->
<!--      <div class="image-wrap">-->
<!--        <div class="image" style="background-image: url(img/slider_6.jpg);"></div>-->
<!--      </div>-->
<!--      <div class="text">-->
<!--        <p class="mb10 subtitle">About Us</p>-->
<!--        <h3 class="mt0 mb40">Meet The Team</h3>-->
<!--        <p>hh</p>-->
<!--        <p class="mb50">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>-->
<!--        <p><a href="#" class="btn btn-ghost btn-ghost-white mb10">Learn More</a></p>-->
<!--      </div>-->
<!--    </section>-->
<!--     <section class="probootstrap-half">-->
<!--      <div class="image-wrap">-->
<!--        <div class="image" style="background-image: url(img/slider_2.jpg);"></div>-->
<!--      </div>-->
<!--      <div class="text">-->
<!--        <p class="mb10 subtitle">Our Services</p>-->
<!--        <h3 class="mt0 mb40">What We Do</h3>-->
<!--        <div class="row mb20">-->
<!--          <div class="col-md-6 col-sm-12 col-xs-12">-->
<!--            <div class="service-item">-->
<!--              <span class="number">1</span>-->
<!--              <h4 class="mt0">Interface Design</h4>-->
<!--              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-md-6 col-sm-12 col-xs-12">-->
<!--            <div class="service-item">-->
<!--              <span class="number">2</span>-->
<!--              <h4 class="mt0">User Experience</h4>-->
<!--              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="clearfix visible-sm-block"></div>-->
<!--          <div class="col-md-6 col-sm-12 col-xs-12">-->
<!--            <div class="service-item">-->
<!--              <span class="number">3</span>-->
<!--              <h4 class="mt0">Development</h4>-->
<!--              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-md-6 col-sm-12 col-xs-12">-->
<!--            <div class="service-item">-->
<!--              <span class="number">4</span>-->
<!--              <h4 class="mt0">Product Strategy</h4>-->
<!--              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <p><a href="#" class="btn btn-ghost btn-ghost-white mb10">See All Our Services</a></p>-->
<!--      </div>-->
<!--    </section>-->
    <section class="probootstrap-section probootstrap-bg-white">
        <div class="container">
          <!-- END row -->
          <div class="row">
            <div class="col-md-12 probootstrap-animate">
              <div class="owl-carousel owl-carousel-testimony owl-carousel-fullwidth mt50">
                <div class="item">

                  <div class="probootstrap-testimony-wrap">
                    <figure>
                      <img src="hxz/img/74453.jpg" alt="Free Bootstrap Template">
                    </figure>
                    <blockquote class="quote">锅巴 组长<br><cite class="author">&mdash; Ferdinand A. Porsche <br> <span>Design Lead at AirBNB</span></cite></blockquote>
                  </div>

                </div>
                <div class="item">
                  <div class="probootstrap-testimony-wrap">
                    <figure>
                      <img src="hxz/img/person_2.jpg" alt="Free Bootstrap Template">
                    </figure>
                    <blockquote class="quote">&ldquo;222Creativity is just connecting things. When you ask creative people how they did something, they feel a little guilty because they didn’t really do it, they just saw something. It seemed obvious to them after a while.&rdquo; <cite class="author">&mdash; Steve Jobs <br> <span>Co-Founder Square</span></cite></blockquote>
                  </div>
                </div>
                <div class="item">
                  <div class="probootstrap-testimony-wrap">
                    <figure>
                      <img src="hxz/img/person_3.jpg" alt="Free Bootstrap Template">
                    </figure>
                    <blockquote class="quote">&ldquo;333I think design would be better if designers were much more skeptical about its applications. If you believe in the potency of your craft, where you choose to dole it out is not something to take lightly.&rdquo; <cite class="author">&mdash; Frank Chimero <br> <span>Creative Director at Twitter</span></cite></blockquote>
                  </div>
                </div>


                  <div class="item">
                      <div class="probootstrap-testimony-wrap">
                          <figure>
                              <img src="hxz/img/person_3.jpg" alt="Free Bootstrap Template">
                          </figure>
                          <blockquote class="quote">&ldquo;444I think design would be better if designers were much more skeptical about its applications. If you believe in the potency of your craft, where you choose to dole it out is not something to take lightly.&rdquo; <cite class="author">&mdash; Frank Chimero <br> <span>Creative Director at Twitter</span></cite></blockquote>
                      </div>
                  </div>

                  <div class="item">
                      <div class="probootstrap-testimony-wrap">
                          <figure>
                              <img src="hxz/img/person_3.jpg" alt="Free Bootstrap Template">
                          </figure>
                          <blockquote class="quote">&ldquo;555I think design would be better if designers were much more skeptical about its applications. If you believe in the potency of your craft, where you choose to dole it out is not something to take lightly.&rdquo; <cite class="author">&mdash; Frank Chimero <br> <span>Creative Director at Twitter</span></cite></blockquote>
                      </div>
                  </div>
                
              </div>
            </div>
          </div>
          <!-- END row -->
        </div>
      </section>
    </div>

    <div class="probootstrap-footer-spacer"></div>
    <footer class="probootstrap-footer">
      <div class="probootstrap-footer-section">
        <div class="container">
          <div class="row mb80">
            <div class="col-md-4">
              <div class="probootstrap-footer-widget">
              <h3>About Us</h3>
              <p>我们是全web前端框架代码最水的组</p>
              <p><a href="#" class="btn btn-ghost btn-ghost-white btn-sm">返回顶部</a></p>
              </div>
            </div>

            <div class="col-md-4">
              <div class="probootstrap-footer-widget">
                <h3>Connect with us</h3>
                <ul class="probootstrap-footer-social">
                  <li><a href="#"><i class="icon-twitter"></i></a></li>
                  <li><a href="#"><i class="icon-facebook"></i></a></li>
                  <li><a href="#"><i class="icon-dribbble"></i></a></li>
                  <li><a href="#"><i class="icon-instagram2"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  <div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-chevron-thin-up"></i></a>
  </div>
  <script src="hxz/js/scripts.min.js"></script>
  <script src="hxz/js/main.min.js"></script>
  <script src="hxz/js/custom.js"></script>
  </body>
</html>